*.vscode
node_modules/

tests/tmp/
out/
cimpy-1.0.2/
test_env
tests_fixes

ravens/ravensML/data/
ravens/ravensML/processed/
ravens/ravensML/methods/transformers/trans_gnn/tmp/
ravens/ravensML/methods/transformers/trivial_solution/tmp/


deprecated.*
test.*

poetry.lock
package-lock.json

*.xml

debug/

__pycache__/
*.pyc
.env